.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: #383838;
  color: white;
  width: 100%;
  left: 0;
  z-index: 1;
}

.container {
  height: calc(100vh - 20px);
  overflow-y: auto;
  padding: 1rem 0;
}